In [27]:
import os

In [28]:
path='/Users/Asalamatina/Desktop/group_3'

In [29]:
for file in os.listdir(path):
    filename = os.path.join(path, file)
    if filename.endswith('parsed'):
        print (filename)
        with open(filename, 'r') as f:
            text = f.read()
        with open ('/Users/Asalamatina/Desktop/file.txt', 'a') as f2:
            f2.write(text)

/Users/Asalamatina/Desktop/group_3/32856.txt.parsed
/Users/Asalamatina/Desktop/group_3/37516.txt.parsed
/Users/Asalamatina/Desktop/group_3/7079.txt.parsed
/Users/Asalamatina/Desktop/group_3/28083.txt.parsed
/Users/Asalamatina/Desktop/group_3/6668.txt.parsed
/Users/Asalamatina/Desktop/group_3/24578.txt.parsed
/Users/Asalamatina/Desktop/group_3/27629.txt.parsed
/Users/Asalamatina/Desktop/group_3/7821.txt.parsed
/Users/Asalamatina/Desktop/group_3/12341.txt.parsed
/Users/Asalamatina/Desktop/group_3/20086.txt.parsed

In [30]:
import pandas as pd

In [31]:
corpus = pd.read_excel("corpus.xlsx")

In [32]:
corpus

   Document ID                                               Text
0         6668  Мы посетили этот замечательный ресторанчик поз...
1         7079  Возможно мне не посчастливилось, но ни один из...
2         7821  Очень испортился ресторан за последний год, це...
3        12341  Ходила туда вчера. Интерьер необычный, привлек...
4        20086  Неделю назад зашли посмотреть на новое заведен...
5        24578  Зашли в ресторан в выходной день случайно. Пос...
6        27629  Давно хотела посетить этот ресторан, т.к. очен...
7        28083  мы посетили ресторан 10 марта. впечатления ост...
8        32856  Сегодня мы всей семьей посетили ресторан Марче...
9        37516  Здравствуйте, Я отмечала свой день рожденья в ...

In [33]:
import re
texts = []
for i in corpus['Text']:
    i = re.sub('\\[.*?\\]', '', i)
    i = re.sub('\n', ' ', i)
    i = re.sub('\s+', ' ', i).lower()
    texts.append(re.sub(r'©.*', '', i))

In [34]:
from collections import defaultdict
def get_fdict(string):
    corp = defaultdict(int)
    word_arr = string.split(' ')
    corp_l = len(word_arr)
    for i in word_arr:
        if i != '':
            corp[i] += 1
    for k in corp:
        corp[k] = corp[k]/corp_l
    return corp

In [35]:
text = ''
for i in texts:
    text = text + ' ' + i
text[:300]

' мы посетили этот замечательный ресторанчик поздним вечером, ближе к полуночи, когда уже нигде не кормили по-настоящему. несмотря на плохую погоду, мы пытались показать приехавшим в гости родственникам (молодоженам) все красоты нашего города, включая белые ночи. "квартиру №55" выбрали из-за располож'

In [36]:
corp = get_fdict(text)

In [37]:
def get_tfidf(posts, corp):
    arr = []
    for post in posts:
        tf_dict = get_fdict(post)
        tfidf_dict = {}
        for k in tf_dict:
            if k != '':
                tfidf_dict[k] = tf_dict[k]*(1/corp[k])
        d = sorted(tfidf_dict.items(), key=lambda i: i[1])[-5:]
        arr.append(d)
    return arr

In [38]:
result = get_tfidf(texts, corp)

In [39]:
result

[[('ресторана,', 7.2288557213930345),
  ('сделал', 7.2288557213930345),
  ('поздний', 7.2288557213930345),
  ('таким', 7.2288557213930345),
  ('приятным!', 7.2288557213930345)],
 [('друзьям', 9.62251655629139),
  ('поехали', 9.62251655629139),
  ('ходим', 9.62251655629139),
  ('ходить', 9.62251655629139),
  ('рекомендую.....', 9.62251655629139)],
 [('чаевые.', 7.811827956989248),
  ('p.s', 7.811827956989248),
  ('приличное', 7.811827956989248),
  ('место', 7.811827956989248),
  ('испортилось', 7.811827956989248)],
 [('общем', 12.973214285714285),
  ('восторге', 12.973214285714285),
  ('этого', 12.973214285714285),
  ('заведения,', 12.973214285714285),
  ('пойду.', 12.973214285714285)],
 [('надо', 11.531746031746032),
  ('зайти', 11.531746031746032),
  ('чтобы', 11.531746031746032),
  ('динамику', 11.531746031746032),
  ('развития...', 11.531746031746032)],
 [('оливковое.', 11.71774193548387),
  ('вкусное.', 11.71774193548387),
  ('желаю', 11.71774193548387),
  ('приятного', 11.71774193548387),
  ('времяпровождения.', 11.71774193548387)],
 [('положительного', 11.624),
  ('интерьер.', 11.624),
  ('удобная', 11.624),
  ('заведение', 11.624),
  ('пойдем.', 11.624)],
 [('обязательно', 8.75301204819277),
  ('приходить', 8.75301204819277),
  ('сюда', 8.75301204819277),
  ('ещеи', 8.75301204819277),
  ('еще!', 8.75301204819277)],
 [('малышам', 7.375634517766497),
  ('настолько', 7.375634517766497),
  ('еле', 7.375634517766497),
  ('увели', 7.375634517766497),
  ('домой))))', 7.375634517766497)],
 [('праздничная', 22.703125),
  ('советую', 22.703125),
  ('всем', 22.703125),
  ('побывать', 22.703125),
  ('здесь.', 22.703125)]]

In [40]:
import gensim

In [41]:
model = gensim.models.KeyedVectors.load_word2vec_format('ruscorpora_1_300_10 2.bin', binary=True)
for n in model.most_similar(positive=[u'вкусный_ADJ']):
    print (n[0], n[1])

вкусно_ADV 0.6860852241516113
превкусный_ADJ 0.6767007112503052
заварной::крем_NOUN 0.6534788012504578
невкусный_ADJ 0.6508849859237671
ароматный_ADJ 0.6484694480895996
сытный_ADJ 0.64444899559021
овощной::рагу_NOUN 0.6366676092147827
нардек_NOUN 0.6289758086204529
отбивной::котлета_NOUN 0.6250420212745667
сулугуни_NOUN 0.6163603663444519